@model BattleFight.Models.Torneo

<h4>Torneo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Premio" class="control-label"></label>
                <input asp-for="Premio" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="Premio" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Categoria" class="control-label"></label> <br />
                <label asp-for="Categoria" class="control-label">Beginner</label>
                <input type="radio" asp-for="Categoria" value="Beginner" /> <br />
                <label asp-for="Categoria" class="control-label">Medium</label>
                <input type="radio" asp-for="Categoria" value="Medium" /> <br />
                <label asp-for="Categoria" class="control-label">Expert</label>
                <input type="radio" asp-for="Categoria" value="Expert" /> <br />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a torneost</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
