<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
</head>
<body>
    <header>
        <h1>Acerca de</h1>
    </header>
    <main>
        <p><strong>Universidad:</strong> Universidad Latina De Costa Rica</p>
        <p><strong>Curso:</strong> Programacion IV</p>
        <p><strong>Profesora:</strong> Adriana Stephanie Rubio Escobar</p>
        <h2>Desarrolladores</h2>
        <ul>
            <li>Sebastian Vargas Maroto</li>
            <li>Bryan Castro Wright</li>
            <li>Luis Franco Solano Ballestero</li>
            <li>Javier Vargas Mendez</li>
        </ul>
        <div class="justify-content-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGaRLElidXSuHVJAYE2Vkb69C_v0Q6OADIZQ&s" alt="Imagen Representativa">
            <p class="mt-3">"Construye tu camino, supera los obstáculos y demuestra que eres el último en pie. ¡La victoria está en tus manos!" </p>
        </div>
    </main>

</body>
</html>